{% extends 'base.html.twig' %}

{% block title %}Hello AuthentificationController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('style.css')}}">
    
{% endblock %}

{% block body %}
    <div id="sary"></div>
{% endblock %}
{% block javascripts %}
    <script src="{{asset('bootstrap-3.3.7/js/tests/vendor/jquery.min.js')}}"></script>
    <script src="{{asset('bootstrap-3.3.7/dist/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            
        });
    </script>
{% endblock %}