<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{asset('bootstrap-3.3.7/dist/css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{asset('bootstrap-3.3.7/dist/css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="{{asset('bootstrap-3.3.7/fontawesome-free-5.13.0-web/css/fontawesome.min.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{asset('base.css')}}">
    </head>
    <body>
        {% block body %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
